@page
@model CheckerZ_Server.Pages.Queries.RecentGameModel

@{
	ViewData["Title"] = "RecentGame";
}

<h1>Recent Games</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.RecentGames[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RecentGames[0].RecentDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.RecentGames)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RecentDate)
				</td>
			</tr>
		}
	</tbody>
</table>
