@page
@model CheckerZ_Server.Pages.Players.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Enter players for session</h4>
<hr />




<div>
    <form method="post">

        <div class="row mb-4">
            <div class="col-3">
                <label for="numPlayersSelect" class="form-label  mb-0">How many players?</label>

                <select asp-for="NumPlayers"
                        asp-items="@(new SelectList(Model.PlayerAmountRange))"
                        class="form-select"
                        id="numPlayersSelect"
                        onchange="this.form.action='?handler=RowAmount'; this.form.submit();">
                    <option value="">choose amount</option>
                </select>

            </div>
        </div>


        <div class="row mb-2">
            <div class="col-2 ">
                <label asp-for="Players[0].Id" class="from-label"> </label>
            </div>

            <div class="col-3 ">
                <label asp-for="Players[0].Name" class="form-label"></label>
            </div>

            <div class="col-3 ">
                <label asp-for="Players[0].PhoneNumber" class="form-label"> </label>
            </div>
            <div class="col-3 ">
                <label asp-for="Players[0].Country" class="form-label"></label>
            </div>
        </div>

        @for (int i = 0; i < Model.NumPlayers; i++)
        {

            <div class="row mb-3">
                <div class="col-2 "">
                    <input asp-for="Players[i].Id" value="1" min="1" max="1000" step="1" class="form-control" />
                </div>

                <div class="col-3">
                    <input asp-for="Players[i].Name" class="form-control" />
                </div>

                <div class="col-3 ">
                    <input asp-for="Players[i].PhoneNumber" class="form-control" />
                </div>

                <div class="col-3 ">
                    @Html.DropDownList($"Players[{i}].Country", new SelectList(Model.countries))
                </div>
            </div>
        }
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
