@page
@model CheckerZ_Server.Pages.Players.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Enter players for session</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="row">
                <div class="col-3">
                    <label asp-for="Players[0].Id" class="control-label" class="form-check-label"> ID</label>
                </div>

                <div class="col-3">
                    <label asp-for="Players[0].Name" class="control-label" class="form-check-label"> Name</label>
                </div>

                <div class="col-3">
                    <label asp-for="Players[0].PhoneNumber" class="control-label" class="form-check-label"> Phone Number</label>
                </div>
                <div class="col-3">
                    <label asp-for="Players[0].Country" class="control-label" class="form-check-label"> Country</label>
                </div>
               
            </div>
            
            <div class="row">
                <div class="col-3 mb-3">
                    <input asp-for="Players[0].Id" value="1" min="1" max="1000" step="1" class="form-control" />
                </div>

                <div class="col-3 mb-3">
                    <input asp-for="Players[0].Name" class="form-control"/>
                </div>

                <div class="col-3 mb-3">
                    <input asp-for="Players[0].PhoneNumber"  class="form-control" />
                </div>

                <div class="col-3 mb-3">
                    @Html.DropDownList("Players[0].Country", new SelectList(Model.countries))
                </div>
            </div>
                


        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
