@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About Us</h1>

<p>Created by Ofek Gayero & Ellie Ben Mayor <br >
   3rd Year Software Engineering Bsc Studnets (Afeka College Of Engineering) <br >
   Developed in DotNet Programming Course (C#)
</p>
