@page
@model CheckerZ_Server.Pages.UserLoginModel
@{
}

<div class="text-center mt-5">
    <h1 class="display-4">Register/Login</h1>
    <label class="form-label">Players must login to start game!</label>


    <p>Select an option:</p>

    <div class="mt-4">
        <a asp-page="/Players/Register" class="btn btn-primary btn-lg m-2">Register</a>

        <a asp-page="/Players/Login" class="btn btn-secondary btn-lg m-2">Login</a>
    </div>
</div>
